In [2]:
pip install numpy

Requirement already satisfied: numpy in c:\users\bapurao anil kundale\appdata\local\programs\python\python310\lib\site-packages (2.2.6)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.3; however, version 25.3 is available.
You should consider upgrading via the 'c:\Users\Bapurao Anil Kundale\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [3]:
pip install pandas

Requirement already satisfied: pandas in c:\users\bapurao anil kundale\appdata\local\programs\python\python310\lib\site-packages (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\bapurao anil kundale\appdata\roaming\python\python310\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\bapurao anil kundale\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\bapurao anil kundale\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: numpy>=1.22.4 in c:\users\bapurao anil kundale\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.2.6)
Requirement already satisfied: six>=1.5 in c:\users\bapurao anil kundale\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.3; however, version 25.3 is available.
You should consider upgrading via the 'c:\Users\Bapurao Anil Kundale\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [4]:
import pandas as pd

In [5]:
# Reading csv file and printing initial sample rows
df = pd.read_csv('products.csv')
df.head()

   product_id    product_name     category  price  quantity
0         101  Wireless Mouse  Electronics    599        25
1         102        Keyboard  Electronics    799        15
2         103       USB Cable  Accessories    199        50
3         104        Notebook   Stationery     49       120
4         105    Water Bottle         Home    299        40

In [6]:
df.sample(10)   # print random rows showing variance

   product_id    product_name     category  price  quantity
4         105    Water Bottle         Home    299        40
9         110      HDMI Cable  Accessories    299        35
5         106        Backpack         Bags    899        10
6         107             Pen   Stationery     20       300
8         109      Coffee Mug         Home    149        60
7         108      Headphones  Electronics   1299         8
0         101  Wireless Mouse  Electronics    599        25
2         103       USB Cable  Accessories    199        50
3         104        Notebook   Stationery     49       120
1         102        Keyboard  Electronics    799        15

In [7]:
print(df)

   product_id    product_name     category  price  quantity
0         101  Wireless Mouse  Electronics    599        25
1         102        Keyboard  Electronics    799        15
2         103       USB Cable  Accessories    199        50
3         104        Notebook   Stationery     49       120
4         105    Water Bottle         Home    299        40
5         106        Backpack         Bags    899        10
6         107             Pen   Stationery     20       300
7         108      Headphones  Electronics   1299         8
8         109      Coffee Mug         Home    149        60
9         110      HDMI Cable  Accessories    299        35

In [8]:
#  prints number of rows
df.iloc[:].shape[0]

10

In [9]:
# prints no of rows
len(df)

10

In [10]:
# d) Total number of products priced above 500
print(df[df['price'] > 500])

print('\ncount of total number of products priced above 500 are: ',len(df[df['price'] > 500]))

   product_id    product_name     category  price  quantity
0         101  Wireless Mouse  Electronics    599        25
1         102        Keyboard  Electronics    799        15
5         106        Backpack         Bags    899        10
7         108      Headphones  Electronics   1299         8

count of total number of products priced above 500 are:  4

In [11]:
# e) Average price of all products
print(f"Average price of all products : {df['price'].mean()}")

Average price of all products : 461.1

In [ ]:
# f) List all products belonging to a specific category (user input)
print(df)
cat = input("Enter category:")

   product_id    product_name     category  price  quantity
0         101  Wireless Mouse  Electronics    599        25
1         102        Keyboard  Electronics    799        15
2         103       USB Cable  Accessories    199        50
3         104        Notebook   Stationery     49       120
4         105    Water Bottle         Home    299        40
5         106        Backpack         Bags    899        10
6         107             Pen   Stationery     20       300
7         108      Headphones  Electronics   1299         8
8         109      Coffee Mug         Home    149        60
9         110      HDMI Cable  Accessories    299        35

In [ ]:

print(df[df['category'] == cat])

   product_id    product_name     category  price  quantity
0         101  Wireless Mouse  Electronics    599        25
1         102        Keyboard  Electronics    799        15
7         108      Headphones  Electronics   1299         8

In [24]:
# g) Total quantity of all items in stock

print(f"Total quantity of all items in stock: {df['quantity'].sum()}")

Total quantity of all items in stock: 663